html,
body {
    height: 100%;
}

body {
    color: rgb(34, 34, 34);
    line-height: 1.7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

a.logo {
    background-image: url("../images/new_logo_small.png");
    background-position: 0px, 8px;
    float: left;
    color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    width: 61px;
    height: 100%;
}

header {
    background: linear-gradient(rgb(8, 110, 213), rgb(5, 93, 181));
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 45px;
    margin: auto;
}

header .nav {
    width: 960px;
    margin: auto;
    height: 100%;
    text-align: center;
    font-size: 16px;
    color: rgb(242, 244, 245);
    line-height: 45px;
}

header .navtag {
    float: left;
    position: relative;
    height: 100%;
}

header ul.navul {
    margin: 0px;
    padding: 0px;
}

header li.topnav {
    list-style: none;
    margin: 0px;
    float: left;
    height: 100%;
    width: 54px;
}

.topnav a{
	color: inherit;
    text-decoration: none;
    font-size: inherit;
    font: inherit;
}

header .self {
    float: right;
    height: 100%;
}

.topnav:hover {
    cursor: pointer;
}

.selfbody {
    width: 960px;
    margin: auto;
    padding-top: 50px;
}

.tags {
    display: inline-block;
}

span.tag {
    background-color: #5eb95e;
    color: #fefefe;
    margin: .25em;
}

label.taglabel {
    margin: 0.5em;
    font-size: 14px;
}

.top-search{
	margin: 7px 0px 0px 12px;
    float: left;
    position: relative;
}

.top-search input.search-top {
	padding: 7px 50px 7px 10px;
    outline: 0px;
    border-radius: 4px;
    border: 1px solid rgb(4, 91, 178);
    transition: 0.2s ease-in-out;
    border-image: none;
    width: 100%;
    color: rgb(73, 82, 92);
    line-height: 17px;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.2), 0px 1px 0px rgba(255,255,255,0.1);
    background-color: rgb(225, 234, 242);
    -webkit-transition: all .2s ease-in-out;
}

.top-search button.search{
	background: linear-gradient(rgb(14, 123, 239), rgb(13, 115, 218));
    outline: 0px;
    border: 1px solid rgb(4, 91, 178);
    border-image: none;
    top: 0px;
    width: 50 px;
    height: 100%;
    right: 0px;
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px 1px 1px rgba(255,255,255,0.15);
    color: white;
}

.admin-user-block {
	text-align: left;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    border-bottom: 1px solid #E1E4E8 !important;
    font-family:inherit;
}

.admin-user-block .title {
    display: inline-block;
    margin-bottom: 4px !important;
    box-sizing: border-box;
}

.title h2 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.admin-user-block .follow,
.float-right {
    float: right;
}

.admin-user-block .follow button {
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
    color: #24292E;
    background-color: #EFF3F6;
    background-image: linear-gradient(-180deg, #FAFBFC 0%, #EFF3F6 90%);
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 0.25em;
    -moz-appearance: none;
    font-weight: 600;
    position: relative;
    display: inline-block;
    
}

.admin-user-block .introdction {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.introdction p {
    display: inline-block !important;
    padding-right: 24px !important;
    color: #586069 !important;
    width: 75%;
    margin-top: 0px;
    margin-bottom: 10px;
}

.admin-user-block .tags {
    font-size: 12px !important;
    margin-top: 8px !important;
}
